@import 'base/variables'
@import 'base/reset'
@import 'components/header'
@import 'components/navbar'
@import 'components/hero-search'
@import 'components/contact-form'

body
  font-family Arial, sans-serif
  background var(--page-bg)
  color var(--text-color)

.page
  min-height 100vh